<!DOCTYPE html>
<html>

<head>
  <title>Hey Dosto</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Do Something better today</h1>
  <ul>
    <li><a href="/"> Home</a></li>
    <li><a href="/create"> create user</a></li>
    <li><a href="/allusers">All users</a></li>
    <li><a href="/delete">delete user</a></li>
    <li><a href="/ban">ban user</a></li>
    <li><a href="/isbanned">Check ban</a></li>
    <li><a href="/removeban">remove ban</a></li>
    <li><a href="/cookie">Set Cookie</a></li>
    <li><a href="/cookieread">Cookie Read</a></li>
    <li><a href="/cookiedelete">Delete cookie</a></li>
  </ul>
  <p>Welcome to on the page</p>
</body>

</html>